[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pydantic = "*"
geopandas = "*"
geojson = "*"
joblib = "*"
openpyxl = "*"
shapely = "*"
overpy = "*"
pyarrow = "*"
scikit-learn = "==1.3.2"
imbalanced-learn = "*"
folium = "*"

[dev-packages]
mypy = "*"
black = "*"
notebook = "*"

[requires]
python_version = "3.11"
