[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pydantic = "*"
geopandas = "*"
geojson = "*"
joblib = "*"
openpyxl = "*"
shapely = "*"
overpy = "*"
pyarrow = "*"
scikit-learn = "*"
imbalanced-learn = "*"
folium = "*"
pipwin = "*"
pytorch-tabnet = "*"
httpx = "*"
umap-learn = "*"
matplotlib = "*"
streamlit = "*"
seaborn = "*"
watchdog = "*"
streamlit-folium = "*"
pandas = "*"
lightgbm = "*"
plotly = "*"
shap = "*"

[dev-packages]
mypy = "*"
black = "*"
notebook = "*"

[requires]
python_version = "3.11"
